.element-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 50px;
  gap: 17px;
  padding-top: 50px;
  max-width: 880px;
  padding: 0;
}
.card__images {
  width: 100%;
  height: 282px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  aspect-ratio: 1;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
}
.card__menu {
  color: black;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}
.card__like {
  justify-content: flex-end;
  border: none;
  width: 21px;
  height: 19px;
  margin-top: 30px;
  background-color: transparent;
}

@media screen and (max-width: 1020px) {
  .element-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 550px;
  }
}
@media screen and (max-width: 550px) {
  .element-list {
    grid-template-columns: repeat(1, 1fr);
    max-width: 282px;
    padding-left: 19px;
    padding-right: 19px;
    gap: 20px;
  }
}
