.header {
  color: #ffffff;
  margin: auto;
  width: 100%;
  max-width: 880px;
}
.header__logo {
  padding-top: 45px;
  width: 120px;
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 580px;
  }
  .header__logo {
    padding-top: 28px;
    padding-left: 27px;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
  .header__logo {
    padding-top: 28px;
    padding-left: 27px;
    align-items: center;
  }
}
